doctype html
html
  head
    title Assignment_1
    link(rel='stylesheet', href='/css/style.css')
    block content

    footer.footer.bg-light
      div.container
        p.text-center © 2024 My Portfolio